@import url(http://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab:400,100,300,700);
@font-face {
  font-family: sunshine;
  src: url(fonts/sunshineinmysoul.ttf);
}
/* -- RSVP FORM STYLING -- */
.form-control:focus {
  border-color: #9C58F2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(157, 65, 229, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(157, 65, 229, 0.6);
}
.ead-rsvp-form button,
input[type=submit],
.ead-btn {
  background: #D49AF5;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  border-bottom: 3px solid #BC60EA;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  color: #7b1fa2;
}
.ead-rsvp-form button,
input[type=submit]:active,
.ead-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
  border-bottom: 1px solid #5B0486;
  box-shadow: 0;
  -webkit-box-shadow: 0;
}
.ead-rsvp-form button,
input[type=submit]:hover,
.ead-btn:hover {
  color: #fff;
  background: #A84ADD;
  border-bottom: 3px solid #5B0486;
}
/*-- GLOBAL STYLING */
html {
  background: url(http://subtlepatterns.com/patterns/cream_pixels.png);
}
body {
  background-color: transparent;
}
p {
  color: #212121;
}
.ead-header {
  font-family: sunshine;
  font-weight: bold;
}
#ead-carousel {
  padding: 0;
  height: 500px;
  overflow: hidden;
  margin-top: -20px;
}
h1,
h2,
h3,
h4 {
  font-family: "sunshine", cursive;
  font-weight: bold;
  color: #7b1fa2;
}
.ead-text-lg {
  font-size: 2rem;
}
.ead-leaf {
  background: url(../images/leaf4.svg);
  height: 40px;
  background-repeat: no-repeat;
}
/* -- NAV BAR STYLING -- */
.ead-inactive {
  color: #e4e4e4 !important;
  cursor: not-allowed;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7b1fa2;
}
/*--   CALL TO ACTION  --*/
.ead-cta {
  text-align: center;
  background: url(../images/ctabg.jpg);
  background-size: cover;
  padding: 50px 0;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 0 0 20px #000000;
}
.ead-cta h2 {
  color: #fff;
  font-size: 50px;
}
.ead-cta .btn {
  background: #D49AF5;
  border-radius: 10px;
  text-decoration: none;
  /* background-color: #FCF8FA; */
  border-bottom: 5px solid #BC60EA;
  /* text-shadow: 0px -2px #E2A8FF; */
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px;
}
.ead-cta .btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
  border-bottom: 1px solid #5B0486;
}
.ead-cta a {
  color: #7b1fa2;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
}
.ead-cta a:hover {
  color: #fff;
  background: #A84ADD;
  border-bottom: 5px solid #5B0486;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Roboto Slab', serif;
}
.ead-content h3 {
  font-family: sunshine;
  color: #7b1fa2;
  font-weight: bold;
  font-size: 3em;
}
.ead-content .dialog {
  text-align: right;
}
.ead-content h4.esther {
  font-family: sunshine;
  font-weight: bold;
  color: #7b1fa2;
}
.ead-content h4.dj {
  font-family: sunshine;
  font-weight: bold;
  color: #ff5252;
}
.ead-content hr {
  border-top: 1px solid #7b1fa2;
}
.navbar-toggle {
  padding: 20px 10px;
}
@media (max-width: 1400px) {
  #ead-carousel {
    height: auto;
  }
}
